.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.lineone {
  position: absolute;
  z-index: -1;
  top: 700px;
  width: 100%;
  background-color: rgba(176, 205, 255, 1);
  height: 400px;
  -webkit-clip-path: polygon(0% 100%, 88% 0%, 101% 13%, 57% 0% );
}
.linetwo{
  position: absolute;
  z-index: -1;
  top: 1200px;
  width: 100%;
  background-color: rgba(176, 205, 255, 1);
  height: 400px;
  -webkit-clip-path: polygon(36% 12%, 101% 27%, 88% 35%, 100% 60% );
}
.linethree {
  position: absolute;
  z-index: -1;
  top: 1200px;
  width: 100%;
  background-color: rgba(176, 205, 255, 1);
  height: 400px;
  -webkit-clip-path: polygon(36% 12%, 101% 27%, 88% 35%, 100% 60% );
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
